h1 Welcome to Customer user page!

= link_to 'Log Out', destroy_customer_session_path, method: :delete

br
hr
br

/ = react_component('TestApp',
/                   @personal_info_props,
/                   generator_function: true,
/                   prerender: false)


= react_component('CustomerDashboardApp',
                   @customer_dashboard_props,
                   generator_function: true,
                   prerender: false)