<div class="container">

    <form>
        <div class="errors"></div>
        <textarea name="content" class="sir-trevor"></textarea>
        <input type="submit" value="Submit">
    </form>

    <pre id="st-json-debug"></pre>

</div>
