<div class="container">

    <form style="width: 65%; margin: auto;">
        <div class="errors"></div>
        <textarea name="content" class="sir-trevor"></textarea>
        <input type="submit" value="Submit" style="visibility: hidden !important;">
    </form>

    <pre id="st-json-debug" style="dislpay: none;"></pre>

</div>
